.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.boxcard {
    max-width: 28rem;
    margin-top: 10px;
    margin-left: 10px;
}

img {
    width: 350;
    height: 350;
}

strong {
    color: red;
}